@import '../variables';
@import '../mixins';

.editModal {
  @include flex(center, center, row, nowrap);

  .editModal__paper {
    width: 40%;
    height: 80%;
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
    @include flex(center, center, column, nowrap);

    .editModal__title {
      width: 100%;
      position: sticky;
      top: 0;
      margin: 5px 0;
      padding: 10px 5px;
      background-color: blue;
      z-index: 2;
      @include flex(center, center, row);

      h2 {
        color: white;
      }
    }

    .editModal__tabs {
      width: 100%;
      flex: 1;
      border-radius: 5px 5px 0 0;
      background-color: white;

      #simple-tabpanel-0 {
        > div {
          > div {
            margin: 15px 0;
            @include flex(space-between, center);

            h4 {
              font-size: 0.9em;
              text-align: left;
            }

            div {
              .MuiOutlinedInput-input {
                padding: 10px 4px;
              }

              .MuiInputLabel-outlined {
                top: -5px;
                font-size: 0.8em;
              }
            }
          }
        }
      }

      #simple-tabpanel-1 {
        > div {
          padding: 0px;

          > div {
            @include flex(flex-start, flex-start, column);

            label {
              width: 100%;
              margin: 0;

              &:nth-child(1) {
                border-bottom: 1px solid rgb(199, 199, 199);
                background-color: rgb(221, 217, 217);
              }
            }
          }
        }
      }
    }

    .editModal__buttons {
      width: 100%;
      position: sticky;
      bottom: 0;
      padding: 5px 0;
      border-top: 1px solid gray;
      background-color: white;
      @include flex(center, center);

      button {
        margin: 0 5px;
        padding: 5px 10px;

        &:nth-child(1) {
          span {
            &:nth-child(1) {
              svg {
                font-size: 1.1em;
                color: green;
                margin: 0 5px;
              }
            }
          }
        }

        &:nth-child(2) {
          span {
            &:nth-child(1) {
              svg {
                font-size: 1.1em;
                color: red;
                margin: 3px 5px 0 5px;
              }
            }
          }
        }
      }
    }
  }
}
